<div>
    <div class="pre-footer-title">¿Por qué Time2Read?</div>
    <div class="pre-footer-images">
        <div class="pre-footer-image"><img src="img/bulb.svg" alt="bombilla"></div>
        <div class="pre-footer-image"><img src="img/crown.svg" alt="corona"></div>
        <div class="pre-footer-image"><img src="img/leaf.svg" alt="hoja"></div>
        <div class="pre-footer-image"><img src="img/world.svg" alt="mundo"></div>
    </div>
    <div class="pre-footer-texts">
        <div class="pre-footer-text">Innovación. Seleccionamos cuidadosamente nuestros productos</div>
        <div class="pre-footer-text">Transparencia. Somos un referente de confianza</div>
        <div class="pre-footer-text">Consumo consciente. Impacto económico, social y ambiental positivo</div>
        <div class="pre-footer-text">Participación y arraigo en el territorio</div>
    </div>
</div>