<footer>            
    <!-- <img src="img/logo-high.svg" heigth='50px' width='50px' alt="logo Time2Read"> -->
    <div class="div-footer-1">
        <div class="subdiv-footer-1">
            <p class="title-footer-1">Time2Read</p>
            <a href="#" class="div-a-footer">Sobre nosotros</a>
            <a href="#" class="div-a-footer">Calidad y medio ambiente</a>
            <a href="#" class="div-a-footer">Trabaja con nosotros</a>
        </div>
        <div class="subdiv-footer-1">
            <p class="title-footer-1">Soci@s</p>
            <a href="#" class="div-a-footer">Ventajas de ser socio/a</a>
            <a href="#" class="div-a-footer">Hazte socio/a</a>
        </div>
        <div class="subdiv-footer-1">
            <p class="title-footer-1">Ayuda</p>
            <a href="#" class="div-a-footer">Preguntas frecuentes</a>
            <a href="#" class="div-a-footer">Condiciones de compra</a>
            <a href="#" class="div-a-footer">Política de privacidad</a>
            <a href="#" class="div-a-footer">Política de cookies</a>
        </div>
        <div class="subdiv-footer-1">
            <p class="title-footer-1">Contacto</p>
            <a href="#" class="div-a-footer">Llámanos</a>
            <a href="#" class="div-a-footer">Lunes a viernes de 08:00 a 18:30</a>
        </div>
    </div>
</footer>